.container {
  /* height: 100%; */
  height: 100vh;
  display: flex;
  padding: 5rem;
  justify-content: space-around;
  align-items: flex-start;
  /* background-color: #fff; */
}

.menu {
  /* height: 20rem; */
  flex: 1;
  border-radius: 10px;
  background-color: var(--color-grey-dark-3);
  margin-right: 5rem;
  /* background-color: red; */
  /* flex: 10%; */
}
.courses {
  /* width: 60rem; */
  flex: 2;
  border-radius: 10px;
  flex-shrink: 0;
  background-color: var(--color-grey-dark-3);
  height: 90vh;
  padding: 5rem;
  /* background-color: blue; */
}

.cart {
  flex: 1.5;
  margin-left: 5rem;
  /* height: 20rem; */

  border-radius: 10px;
  background-color: var(--color-grey-dark-3);
  /* flex: 10%; */
}
