.itemCard {
  /* height: 10rem; */
  /* background-color: blue; */
  padding: 1rem 0 2rem 0;
  border-bottom: 1px solid #222;
}

.itemCard h5 {
  font-size: 1.6rem;
  margin-left: 1rem;
  font-weight: 500;
  display: inline-block;
}

.itemCard .amount {
  margin-left: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-grey-light-2);
}

.itemCard button {
  background-color: transparent;
  outline: none;
  padding: 0.6rem 1rem;
  border: none;
  display: inline-block;
  color: var(--color-grey-light-2);
  font-size: 1.4rem;
  transition: all 0.2s;
  /* margin-right: 1rem; */
}
.add {
  padding: 0.6rem 2.5rem !important;
  font-size: 1.4rem !important;
  margin-right: 0 !important;
  transition: all 0.2s;
  border-radius: 100px;
  font-weight: 500;
}

/* .add:active {
  transform: translateY(-0.5rem);
} */

.add:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  background-color: var(--color-secondary);
}
.controlBtns:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  /* background-color: var(--color-secondary); */
}
.count {
  display: inline-block;
  width: 3rem;
  text-align: center;
}

.controlBtns {
  font-size: 1.5rem;
  border: 1px solid var(--color-secondary);
  border-radius: 100px;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  /* width: 10rem; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.itemCard .circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.circleGreen {
  background-color: green;
}

.circleRed {
  background-color: var(--color-secondary);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
}
