.fab-container {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--color-secondary);

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  font-size: 2rem;
  color: var(--color-grey-light-1);
}
.i {
  animation: rotate-in 0.5s;
}
.fab {
  width: 60px;
  height: 60px;
  background: var(--color-secondary);
}

.fab-options {
  list-style-type: none;
  margin: 0;

  position: absolute;
  bottom: 70px;
  right: 0;

  opacity: 0;

  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover + .fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  /* border-radius: 3px; */
  font-size: 1.4rem;
  font-weight: 500;
  /* background: var; */
  color: var(--color-grey-light-1);
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); */
  margin-right: 10px;
}
.fab-icon-holder:hover > .i {
  animation: rotate-out 0.5s;
}

@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
