.form__group {
  margin-bottom: 2rem;
  width: 100%;
}
.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 2rem 1rem;
  border-radius: 2px;
  background-color: var(--color-primary);
  border: 1px solid #444;
  /* border-bottom: 3px solid transparent; */
  border-radius: 5px;
  width: 100%;
  display: block;
  transition: all 0.2s;
  position: relative;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
}
.form__input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 1.5rem;
}
.form__input:focus {
  outline: none;
  border: 1px solid var(--color-grey-light-3);
}
/* .form__input:focus:invalid {
    border-bottom: 3px solid red;
  } */

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
}

.form__input:not(:placeholder-shown) {
  font-size: 1.5rem;
  padding: 2.5rem 1rem 1.5rem 1rem;
}

.form__input:disabled {
  cursor: not-allowed;
  color: var(--color-grey-light-3);
}

.form__label {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-grey-light-3);
  margin: 1rem 0 0rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  /* margin-left: 2rem; */
  /* margin-top: 0.7rem; */
  display: block;
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
