.otp-container .userInput {
  display: flex;
  justify-content: center;
}
.otp-container {
  /* background-color: rebeccapurple; */
  /* width: 100%; */
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: space-around;
  justify-content: center;
  /* background-color: #fff; */
}
.otp {
  outline: none;
  margin: 10px;
  height: 35px;
  width: 15%;
  border: none;
  border-bottom: 1px solid var(--color-grey-light-3);
  /* border-radius: 5px; */
  text-align: center;
  font-family: inherit;
  font-size: 2rem;
  background-color: transparent;
  color: inherit;
  /* background: #eef2f3; */
}

.otp-container h1 {
  text-align: center;

  /* font-family: "Dancing Script", cursive; */
  font-weight: 500;
  line-height: 2.5rem;
  /* font-size: 2.4rem; */
  /* font-size: 1.6rem; */
}

.resend {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  /* background-color: red; */
}
.resend button {
  display: inline-block;
  outline: none;
  background: none;
  border: none;
  color: inherit;
  transition: all 0.2s;
  font-size: 1.6rem;
  font-weight: 600;
}

.resend button:hover {
  color: var(--color-secondary);
}

.resend button:disabled {
  color: #777;
  cursor: no-drop;
}
