.menu {
  width: 100%;
  /* height: 1rem; */

  /* background-color: #fff; */
  padding: 2rem;
}

.menu h4 {
  /* background-color: #fff; */
  /* text-align: center; */
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.menu ul {
  list-style: none;
  /* background-color: #fff; */
  padding-left: 0;
  margin-top: 3rem;
  height: 30rem;
  overflow-y: scroll;
}

li {
  /* display: inline-block; */
  /* padding: 1rem 0; */
  font-size: 1.5rem;
  /* font-weight: 400; */
  /* padding-right: 3rem; */

  margin-bottom: 1rem;
}
.active {
  border-left: 3px solid var(--color-secondary);
  font-weight: 600;
}

li a:hover {
  background-color: var(--color-primary);
  border-left: 2px solid var(--color-secondary);
}

li a:active,
li a:visited,
li a:link,
li a {
  animation: all 0.2s;
  display: block;
  color: inherit;
  text-decoration: none;
  /* width: 100%;
  height: 100%; */
  padding: 1rem 0;
  padding-left: 1rem;
  font-size: inherit;
  /* padding-right: ; */
}
